<div ng-controller="NotesListController">
    <ul>
        <li ng-repeat="note in notes">
            <span>{{note.Text}}</span>
            <p>{{note.CreationDate}}</p>
        </li>
    </ul>
</div>